@import '../styles/variables';

.toolbar {
	padding: 0.5rem;

	border-radius: 0.25rem;
	background: $dark-blue;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbarIcons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.toolbarButton {
	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;

	width: 100%;
	padding: 0.25rem;
	border-radius: 0.25rem;

	color: #fff;
}
