.wrapper {
	height: 100%;
	justify-content: space-between;
}

.primaryButton {
	display: flex;
	color: inherit;
}

.primaryButton:hover {
	background-color: #1e1e1e;
}

.homeWrapper {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home {
	padding: 0.5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: inherit;
}
