.robin-bg-dark-green {
	background-color: rgb(6 95 70);
}

.robin-bg-green {
	background-color: rgb(4 120 87);
}

.robin-bg-red {
	background-color: rgb(220 38 38);
}

.robin-bg-slate {
	background-color: #282828;
}

.robin-bg-dark-slate {
	background-color: #1e1e1e;
}

.robin-text-white {
	color: rgb(255 255 255);
}

.robin-border-white {
	border: 2px solid rgb(255 255 255);
	border-radius: 0.25rem;
}

.robin-text-bold {
	font-weight: 700;
}

.robin-text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
