.robin-bg-dark-green {
	background-color: rgb(6 95 70);
}

.robin-bg-green {
	background-color: rgb(4 120 87);
}

.robin-bg-red {
	background-color: rgb(220 38 38);
}

.robin-bg-slate {
	background-color: rgb(51 65 85);
}

.robing-bg-dark-slate {
	background-color: rgb(15 23 42);
}

.robin-text-whilte {
	color: rgb(255 255 255);
}
