@import '../frontend/styles/variables';

// Some resets missing from normalize

button {
	border: none;
	cursor: pointer;
}

code {
	display: block;
	overflow: auto;
}

// Some variables from robin to keep things consistent

:root {
	@each $name, $value in $colors {
		--robin-color-#{$name}: #{$value};
	}

	--robin-border-radius: 0.25rem;
	--robin-spacing: 1.25rem;
}

@each $name, $value in $colors {
	.robin-bg-#{$name} {
		background-color: var(--robin-color-#{$name});
	}
	.robin-text-#{$name} {
		color: var(--robin-color-#{$name});
	}
}

.robin-rounded {
	border-radius: var(--robin-border-radius);
}

.robin-pad {
	padding: var(--robin-spacing);
}

.robin-gap {
	gap: var(--robin-spacing);
}
