.robin-bg-yellow { background-color: #FCBF49; }
.robin-bg-red { background-color: #DC2626; }
.robin-bg-dark-blue { background-color: #003049; }
.robin-bg-light-blue { background-color: #006AA3 }

.robin-text-white {
	color: rgb(255 255 255);
}

.robin-rounded {
	border-radius: 0.25rem;
}

.robin-border-white {
	border: 2px solid rgb(255 255 255);
	border-radius: 0.25rem;
}

.robin-text-bold {
	font-weight: 700;
}

.robin-text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.robin-pad {
	padding: 1.25rem;
}

.robin-gap {
	gap: 1.25rem;
}
